# docker-compose.override.yml
version: '3.1'

services:

  spark-master:
    image: bitnamilegacy/spark:3.5.1
    hostname: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_MASTER_WEBUI_PORT=8081
    ports:
      - "8081:8081"
      - "7077:7077"
    volumes:
      - spark-data:/bitnami
      - ./include:/usr/local/airflow/include
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data
    networks:
      - airflow
    restart: unless-stopped

  spark-worker:
    image: bitnamilegacy/spark:3.5.1
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    volumes:
      - ./include:/usr/local/airflow/include
      - spark-data:/bitnami
      - ./apps:/opt/spark-apps
      - ./data:/opt/spark-data
    depends_on:
      - spark-master
    networks:
      - airflow
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: minio
    hostname: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    networks:
      - airflow
    restart: unless-stopped

  streamlit:
    container_name: streamlit
    image: python:3.11-slim
    working_dir: /app
    command: >
      bash -c "
      pip install --no-cache-dir streamlit duckdb boto3 python-dotenv &&
      streamlit run streamlit_app.py
        --server.address=0.0.0.0
        --server.port=8501
      "
    ports:
      - "8501:8501"
    volumes:
      - ./include/src/app:/app
      - ./include/src/utils:/app/utils
    env_file:
      - ./include/.env
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    networks:
      - airflow
    depends_on:
      - minio
    restart: unless-stopped

volumes:
  spark-data:
  minio-data:

networks:
  airflow:
    driver: bridge
